In [1]:
# 10.3.3

# import splinter and beautifulsoup

import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# set executable path & url (nasa amrs news) for scraping

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# assign the url and instruct browser to visit it

url = 'https://redplanetscience.com'
browser.visit(url)

# optional delay for loading the page

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# setup html parser

html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [5]:
# begin scraping

slide_elem.find('div', class_='content_title')

In [6]:
# use the parent element to find the first 'a' tag and save it as 'news title'
# the result is the most recent title published on the website

news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'New Selfie Shows Curiosity, the Mars Chemist'

In [7]:
# use the parent element to find the paragraph text
# output is only summary of article

news_p = slide_elem.find('div', class_= 'article_teaser_body').get_text()
news_p

'The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.'

In [9]:
# 10.3.4

### FEATURED IMAGES - markdown??????

# visit url

url = 'https://spaceimages-mars.com'
browser.visit(url)

In [10]:
# Find and click the full image button

full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [11]:
# parse the resulting html with soup

html = browser.html
img_soup = soup(html, 'html.parser')

In [13]:
# find the relative image url

img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [14]:
# now add the base url to the above code

img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [16]:
# 10.3.5 mars facts

# use pandas' .read_html() function to scrape entire table

# creating a new dataframe from html table
df = pd.read_html('https://galaxyfacts-mars.com')[0]

#assign columns to the new dataframe for addtl clarity
df.columns=['description', 'Mars', 'Earth']

# turning description column into dataframe index, inplace true means the updated index will remain in place without having to reassign dataframe to new variable
df.set_index('description', inplace=True)

df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [17]:
# add the new dataframe to a web application, pandas can convert dataframe to html ready code using .to_html()

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
# we need to end the automated browsing session now - only keep on when scraping data

browser.quit()

In [ ]:
# 10.3.6 export to python